
<div >
	<div id="mainleftcolumn">
		<% content_for :title, "Log in to LinkedIn on Rails" %>
		<h1>LinkedIn on Rails</h1>
      <p>
		This is a sample Ruby on Rails application built to demonstrate how you can use the LinkedIn API to authenticate users and pull their profile data into your own website or mashup.  Log in using LinkedIn to see an enhanced resume generated using your own data and explore your connections.
	  </p>
	  <p>
		The <%= link_to "full source code", "http://github.com/datawrangling/linkedin_on_rails", :target => "_blank" %> is available on GitHub. Author: <%= link_to "@peteskomoroch", "http://twitter.com/peteskomoroch", :target => "_blank" %>
	  </p>	
		
<%= render :partial => 'form' %>
    </div>
	<div id="mainrightcolumn">
		<%= image_tag("linkedin-on-rails.png", :border=>0) %>
	</div>
			<div class="clear"></div>
</div>
